# IntelliJ IDEA
/.idea
/out/
*.iml

# NetBeans
nbproject/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled class files
*.class

# Package distribution
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.swp
